@font-face {
  font-family: 'Comfortaa';
  src: url('./Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./LibreBaskerville-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}