$primary: #39648A;
$secondary: #2d9cca;

// accents
$accent-1: #fccb64;
$accent-2: #db5669;
$accent-3: #3ed2dc;

$dark: #25274d;
$light: #F7F9FB;
$med: #AAABB8;

$light-grey: #e5e5e5;
$med-grey: #393e46;
$dark-grey: #222831;

$white: #ffffff;
$black: #000000;

$font-family-header: 'Libre Baskerville', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

$border-radius: 0.25rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;