$primary: #00d1cd;
$secondary: #f30067;

$light-grey: #e5e5e5;
$med-grey: #393e46;
$dark-grey: #222831;

$white: #ffffff;
$black: #000000;

$font-family-header: 'Comfortaa', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

$border-radius: 0.25rem;