@import './variables';

.component-container {
  max-width: $breakpoint-xl;
  max-height: 100vh;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%)
}

.pdf {
  display: flex;
  justify-content: center;
  &-document {
    position: relative;
    border: 1px solid red;
  }
  &-page {
  }
}