@import './variables';
@import './app-content.scss';

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  h1 {
    font-size: 4rem;
    @media (min-width: $breakpoint-md) {
      font-size: 6rem;
    }
  }
  .home__actions {
    align-self: flex-end;
  }
}

#content {
  height: 100%;
  overflow-y: auto;
}
.content__actions {
  position: fixed;
  top: 2rem;
  right: 2rem;
  max-height: calc(100vh - 4rem);
  max-width: 400px;
}
.content__select {
  padding: 1rem;
  background-color: $white;
}

// Main Parallax Styling
.home-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.component-container {
  max-width: $breakpoint-xl;
  max-height: 100vh;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%)
}

.pdf {
  display: flex;
  justify-content: center;
  &-document {
    position: relative;
    border: 1px solid red;
    width: 50%;
  }
  &-page {
  }
}