@import './variables';

.jumbotron {
  position: relative;
  height: 80vh;
  padding: 2rem;
  background-color: $white;
  overflow: hidden;
  &--container {
    position: relative;
    z-index: 2;
    max-width: $breakpoint-xl;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    h1 {
      @media (min-width: $breakpoint-md) {
        font-size: 6rem;
      }
      @media (min-width: $breakpoint-lg) {
        font-size: 8rem;
      }
    }
    p {
      font-size: 2rem;
    }
    &--create {
      color: $primary;
    }
    &--resume {
      color: $secondary;
    }
    &--me {
      color: $accent-1;
    }
  }
  &__samples {
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 0;
    width: 50%;
    height: 100%;
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Resume Samples
.resume-samples {
  display: flex;
  justify-content: center;
  &__img {
    position: absolute;
    height: 100%;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    animation: samples-move 1s ease-in-out alternate;
    &.one {
      transform: rotate(-20deg) translate3d(-30%, 0, 0);
    }
    &.three {
      transform: rotate(20deg) translate3d(40%, 0, 0);
    }
  }
  @keyframes samples-move {
    0% {
      opacity: 0;
      transform: rotate(0) translate3d(0, 20%, 0);
    }
    30% {
      transform: rotate(0) translate3d(0, -10%, 0);
    }
    50% {
      opacity: 1;
      transform: rotate(0) translate3d(0, 0, 0);
    }
  }
}