@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./LibreBaskerville-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}