@import 'variables';

.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--left {
  text-align: left;
}

.text--danger {
  color: $danger;
}
.text--success {
  color: $success;
}