$primary: #2d9cca;
$secondary: #39648A;
$accent: #fccb64;
// Could change these
$danger: #e84118;
$success: #10ac84;

$color: #000000;
$color-reverse: #ffffff;
$light-bg: #ffffff;
$dark-bg: #000000;

$grey-1: #1a1c1e;
$grey-2: #393e4a;
$grey-3: #eef1fa;
$grey-4: #f5f6fb;

$white: #ffffff;
$black: #000000;

$font-family-header: 'Libre Baskerville', sans-serif;
$font-family-base: 'Mulish', sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
