$primary: #0050b8;
$secondary: #000000;
$accent: #0050b8;
// Could change these
$danger: #ff0000;
$success: #00a841;

$color: #49494b;
$color-reverse: #49494b;
$light-bg: #ffffff;
$dark-bg: #ebebeb;

$grey-1: #1a1c1e;
$grey-2: #393e4a;
$grey-3: #eef1fa;
$grey-4: #f5f6fb;

$white: #ffffff;
$black: #000000;

$font-family-header: 'nunito sans', sans-serif;
$font-family-base: 'nunito sans', sans-serif;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
