// Styling for items inside src/components/app/contents
@import './variables';

// // Rounded corners for first and last content pieces
.content__elements {
  > :first-child {
    .content {
      > :first-child {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
  }
  > :last-child {
    .content {
      > :last-child {
        > :last-child {
          border-radius: 0 0 0.5rem 0.5rem;
          .content__el {
            border-radius: 0 0 0.5rem 0.5rem;
          }
        }
      }
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  // border-radius: 2rem 0.25rem 0.25rem 2rem;
  // overflow: hidden;
  &__title {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
    padding: 1rem;
    background-color: $primary;
    .input {
      margin-right: 1rem;
      @media (min-width: $breakpoint-md) {
        width: 50%;
      }
      input {
        background-color: rgba($white, 0.7);
      }
    }
    &--actions {
      display: flex;
      align-items: center;
    }
  }
  &__wrapper {
    position: relative;
    // For small devices (usually touch) always show as hover won't work
    // TODO: detect if device is actually touch to handle large touch screens
    @media (max-width: calc(#{$breakpoint-md} - 1)) {
      .content__el--actions {
        transform: translateX(100%);
      }
    }
    &:hover {
      .content__el--actions {
        transform: translateX(100%);
      }
    }
  }
  &__el {
    position: relative;
    z-index: 1;
    width: calc(100% - 3rem);
    padding: 1rem;
    background-color: $white;
  }
  &__el--actions {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 3rem;
    width: 3rem;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    background-color: $secondary;
    border-radius: 0 0.25rem 0.25rem 0;
    transition: all 250ms ease-in;
  }
  &__add {
    width: calc(100% - 3rem);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: $white;
  }
}

// Special 'date' component styling
.input__date {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &--group {
    width: 48%;
    display: flex;
    background-color: $light;
    border-radius: 0.25rem;
    select {
      width: 50%;
    }
  }
  &--divider {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--present {
    position: absolute;
    top: -1.25rem;
    right: 0;
    background-color: $white;
  }
}

// List styles
.content--list {
  .list {
    &__title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      .list__input, .list__extra {
        width: 100%;
        @media(min-width: $breakpoint-sm) {
          width: calc(50% - 0.5rem);
        }
      }
    }
    &__extra {
      position: relative;
    }
  }
}

// Education and References Styles
.content--education, .content--reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .input {
    width: 100%;
    margin-bottom: 0.25rem;
    @media (min-width: $breakpoint-sm) {
      width: calc(50% - 0.5rem);
    }
  }
  .input--full {
    @media (min-width: $breakpoint-sm) {
      width: 100%;
    }
  }
}

// Skill Styles
.content--skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  .input {
    width: 100%;
    @media (min-width: $breakpoint-sm) {
      width: calc(50% - 0.5rem);
    }
  }
  .skill__list {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (min-width: $breakpoint-sm) {
      width: calc(50% - 0.5rem);
    }
  }
  .skill__el {
    width: 22px;
    height: 22px;
    margin: 11px;
    background-color: $med;
    cursor: pointer;
    &--selected {
      background-color: $primary;
    }
  }
}